<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 - 예약 상세</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage-reservation-detail.css}" />
    <link rel="icon" type="image/ico" th:href="@{/img/icon/favicon.ico}">
    <script defer th:src="@{/js/mypage/mypage-reservation-detail.js}"></script>
  </head>
  <body>
    <header class="header">
      <p>예약 상세</p>
    </header>
    <div class="main-container">
      <div class="main-align">
        <div class="r-num-con">
          <p class="r-num">예약 번호</p>
          <p class="r-num-value">11231234</p>
        </div>
        <a href="#" class="e-info-con">
          <div class="e-img">
            <img th:src="@{/img/bg01.jpeg}" alt="" />
          </div>
          <div class="info-con">
            <p class="e-name">제35회 춘천인형극제</p>
            <div class="e-date-con">
              <p class="e-date">체험날짜</p>
              <p class="e-date-value">2023.11.17</p>
            </div>
          </div>
        </a>
        <div class="r-detail-info-con">
          <div class="r-name-con">
            <p class="r-name">예약자명:</p>
            <p class="r-name-value">양혜정</p>
          </div>
          <div class="r-tel-con">
            <p class="r-tel">전화번호:</p>
            <p class="r-tel-value">010-1234-5678</p>
          </div>
          <div class="r-pay-con">
            <p class="r-pay">체험료:</p>
            <p class="r-pay-value">6,500원</p>
          </div>
          <div class="r-people-con">
            <p class="r-people">인원수:</p>
            <p class="r-people-value">2인</p>
          </div>
          <div class="r-total-con">
            <p class="r-total">결제금액:</p>
            <p class="r-total-value">13,000원</p>
          </div>
          <div class="r-method-con">
            <p class="r-method">결제수단:</p>
            <p class="r-method-value">신용카드</p>
          </div>
          <div class="r-date-con">
            <p class="r-date">결제날짜:</p>
            <p class="r-date-value">2023.11.15</p>
          </div>
        </div>
        <div class="btn-con">
          <button class="btn-cancel">취소 요청</button>
          <button class="btn-close">닫기</button>
        </div>
      </div>
    </div>
  </body>
</html>
