<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 - 관심 목록</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage-favorite.css}" />
    <script
      src="https://kit.fontawesome.com/082a4accbb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="nav-container">
        <div class="nav-align">
          <div class="logo-con">
            <div class="logo-align">
              <a href="/" class="logo"
                ><img th:src="@{/img/logo/logo.svg}" alt=""
              /></a>
            </div>
          </div>
          <p class="mypage">마이페이지</p>
          <ul class="list">
            <li><a href="/mypage/profile">정보수정</a></li>
            <li><a href="/mypage/reservation">예약내역</a></li>
            <li><a href="/mypage/review">리뷰내역</a></li>
            <li><a class="sel" href="/mypage/favorite">관심목록</a></li>
          </ul>
        </div>
      </nav>
      <div class="main-container">
        <div class="main-align">
          <div class="mypage-title">관심 목록</div>
          <div class="contents-align">
            <!-- 01 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg01.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 02 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg02.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 03 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg02.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 04 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg03.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 05 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg03.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 06 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg02.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 07 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg01.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 08 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg03.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
            <!-- 09 -->
            <div class="contents">
              <a href="/experience/detail" class="contents-img-con">
                <div class="contents-area">
                  <p>부산</p>
                </div>
                <img th:src="@{/img/bg03.jpeg}" alt="" />
              </a>
              <div class="contents-info-con">
                <p class="info-title">부산 연등축제</p>
                <div class="heart"><i class="fa-solid fa-heart"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
