<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Q&A</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/qna/qna.css}" />
    <link rel="icon" type="image/ico" th:href="@{/img/icon/favicon.ico}">
    <script defer th:src="@{/js/header.js}"></script>
    <script defer th:src="@{/js/qna/qna.js}"></script>
    <script
      src="https://kit.fontawesome.com/082a4accbb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <div class="header-container">
        <div class="logo-container">
          <a th:href="@{/}" class="logo"
          ><img th:src="@{/img/logo/logo.svg}" alt=""
          /></a>
        </div>
        <nav class="nav">
          <a th:href="@{/festival(zone=전체)}" class="nav-list">축제</a>
          <a href="/experience" class="nav-list">체험</a>
          <a href="/qna" class="nav-list">Q&A</a>
          <a href="/notice" class="nav-list">공지사항</a>
        </nav>
        <div class="header-right">
          <a href="/search" class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
          <!-- 로그인 X -->
          <a sec:authorize="isAnonymous()" href="/login" class="btn-login">로그인</a>
          <!-- 로그인 O -->
          <div class="user-profile" sec:authorize="isAuthenticated()">
            <i class="fa-regular fa-circle-user"></i>
            <i class="fa-solid fa-angle-down"></i>
          </div>
        </div>
        <div class="my-page" >
          <ul class="my-page-list">
            <li><a href="/mypage/profile">정보수정</a></li>
            <li><a href="/mypage/reservation">예약내역</a></li>
            <li><a href="/mypage/review">리뷰내역</a></li>
            <li><a href="/mypage/favorite">관심목록</a></li>
            <li class="btn-logout"><a th:href="@{/logout}">로그아웃</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- main -->
    <div class="main-container">
      <div class="main-align">
        <p class="title">Q&A</p>
        <div class="count-btn-con">
          <p class="count">총 <span>10개</span>의 Q&A</p>
          <button class="btn-write">Q&A 작성하기</button>
        </div>
        <div class="qna-list-con">
          <div class="list-con-align">
            <div class="list-title">
              <div class="th qna-state">답변상태</div>
              <div class="th qna-title">제목</div>
              <div class="th qna-writer">작성자</div>
              <div class="th qna-date">작성일</div>
            </div>
            <!-- 01 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <!-- 본인이 작성한 비밀글이면 제목 다 보이고 옆에 자물쇠 아이콘 -->
                  <!-- 다른 사람이 작성한 비밀글 or 로그인 안되어 있을 때는 -->
                  <!-- 비밀글입니다. 옆에 자물쇠 아이콘 넣기 -->
                  <!-- 타인이 작성한 비밀글은 p태그에 class="secret" 넣어주기 -->
                  <p>
                    예약 취소 가능한가요? 예약 취소 가능한가요? 예약 취소
                    가능한가요? 예약 취소 가능한가요? 예약 취소 가능한가요? 예약
                    취소 가능한가요? 예약 취소 가능한가요? 예약 취소 가능한가요?
                    예약 취소 가능한가요? 예약 취소 가능한가요? 예약 취소
                    가능한가요? 예약 취소 가능한가요? 예약 취소 가능한가요? 예약
                    취소 가능한가요? 예약 취소 가능한가요?
                  </p>
                  <i class="fa-solid fa-lock"></i>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">
                    예약 취소 가능한가요? 예약 취소 가능한가요? 예약 취소
                    가능한가요? 예약 취소 가능한가요? 예약 취소 가능한가요? 예약
                    취소 가능한가요? 예약 취소 가능한가요? 예약 취소 가능한가요?
                    예약 취소 가능한가요? 예약 취소 가능한가요? 예약 취소
                    가능한가요? 예약 취소 가능한가요? 예약 취소 가능한가요? 예약
                    취소 가능한가요? 예약 취소 가능한가요?
                  </p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <button class="btn-modify">수정</button>
                    <button class="btn-delete">삭제</button>
                  </div>
                </div>
                <div class="reply-con">
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 02 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p class="secret">비밀글입니다.</p>
                  <i class="fa-solid fa-lock"></i>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!-- 수정 삭제 기능 없어도 이거 넣기!! 아래 공백 때문에  -->
                  </div>
                </div>
                <div class="reply-con">
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 03 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p>예약 취소 가능한가요?</p>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 04 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p>예약 취소 가능한가요?</p>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 05 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p>예약 취소 가능한가요?</p>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 06 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p>예약 취소 가능한가요?</p>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 07 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p class="secret">비밀글입니다.</p>
                  <i class="fa-solid fa-lock"></i>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 08 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p class="secret">비밀글입니다.</p>
                  <i class="fa-solid fa-lock"></i>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 09 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p>예약 취소 가능한가요?</p>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
            <!-- 10 -->
            <div class="list">
              <div class="list-align">
                <div class="qna-state">답변완료</div>
                <div class="qna-title">
                  <p>예약 취소 가능한가요?</p>
                </div>
                <div class="qna-writer">HJ</div>
                <div class="qna-date">2023.11.15</div>
              </div>
              <div class="qna-detail-reply">
                <div class="detail-con">
                  <p class="detail-title">예약 취소 가능한가요?</p>
                  <p class="detail-content">
                    dafdafafafasdfadfadfdsafasfdasfdasfadsfadsfsajkfhaskdjfhakdlsfhdaksjlfjhdslajfhdjslkafhjdlaksfhkaldsfhkadslfhkldsafhkdlashfkasdhfkjldsahfklsadhfkdlsajfhldsjafhlsadhj
                  </p>
                  <div class="detail-btn-con">
                    <!--   -->
                  </div>
                </div>
                <div class="reply-con">
                  <!--  -->
                  <div class="reply-content">
                    ddafdsfadsfdasfadsasfdasfdsafdsafadsfdsafdsfadsfdasfadsfadsfasdfasdfsadfadsfasdfsadfasdfsdfsadfdsafasdfjhasldkfhlsadjfhlasdjfhlsadjfhaldsjfdsaljfhadsljhalfjkasdjf;sadfjasdfjkadskl;fjldska;fjklsda;fjalsdkfj;alsdfjadshjfdsajfgadskfjhgdaskfhdsakgfkjsdahgfksdhafadsjfasdjfadsjfhasdlfjhasljkhasdfdsafdasfhjkasdfhladsjfhlajsfhldsajfhalsdjfhalsfjkhdslafhjsladfalhsdfjashflakjdsfhldksahfklasfhkldshfasfdjkahalsdkjfhlasjfhasdlfjhsadlfhjdlsajfhkaslfhkldsafhdsahfkasdjhflsadfhdslajfhlasdfjhdslfjhasdfhdslkfhkldsahflasdhkflhdslkjfhalj
                  </div>
                  <div class="reply-writer">관리자</div>
                  <div class="reply-date">2023.11.16</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-btn-con">
          <div class="prev-btn">
            <i class="fa-solid fa-chevron-left"></i>
            이전
          </div>
          <div class="page">1</div>
          <div class="page">2</div>
          <div class="page">3</div>
          <div class="page">4</div>
          <div class="page">5</div>
          <div class="page">6</div>
          <div class="page">7</div>
          <div class="page">8</div>
          <div class="page">9</div>
          <div class="page">10</div>
          <div class="next-btn">
            다음
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
